body {
    background: green;
    color: white;
}
h1 {
    color: white;
}
#navigation {
    margin: 10px;
    padding: 10px;
}
.nav-link {
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: 1px solid black;
}

.nav-link:hover {
    color: yellow;
}

