body {
    background: wheat ;
}
#navigation {
    background: green;
    margin: 10px;
    padding: 10px;
}
.nav-link {
    background: red;
    padding: 5px;
    margin: 5px;
}

.nav-link:hover {
    font-size: 32px;
    color: white;
}
